
<div *ngIf = '(!instructors) || instructors.length == 0'>
    <h3>Non ci sono instruttori</h3>
</div>

<table *ngIf = 'instructors && instructors.length'
class="table" id="myTable">
    <thead>
        <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data di nascita</th>
        <th>Età</th>
        <th>Tipo docente</th>
        <th>Codice fiscale</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor ='let instructor of instructors'>
            <td><a [routerLink]="['/instructors',  instructor.idDocente]">
                {{instructor.nome}}
                </a> </td>
            <td>{{instructor.cognome}}</td>
            <td>{{instructor.dataNascita | date}}</td>
            <td>{{instructor.eta}}</td>
            <td>{{instructor.tipoDocente}}</td>
            <td>{{instructor.cf}}</td>
        </tr>
    </tbody>
</table>