
<div *ngIf = '(!student) || student.length == 0'>
  <h3>Non ci sono studenti</h3>
</div>

<table
class="table" id="myTable">
  <thead>
      <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Codice Fiscale</th>
        <th>Tipo Studente</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>{{student.nome}}</td>
          <td>{{student.cognome}}</td>
          <td>{{student.codiceFiscale}}</td>
          <td>{{student.tipoStudente}}</td>
          <td><button (click)="DammiICorsi()">Lista Corsi Iscritto</button></td>
      </tr>
  </tbody>
</table>
<form *ngIf='listCourse.length>0'>
    <thead>
        <tr>
          <th>ID Corso</th>
          <th>Titolo C.</th>
          <th>Prezzo</th>
          <th>Difficoltà</th>
        </tr>
    </thead>
  <tbody *ngFor= 'let corsi of listCourse'>
      <tr>
          <td>{{corsi.idCorso }}</td>
          <td>{{corsi.titolo}}</td>
          <td>{{corsi.prezzoBase}}</td>
          <td>{{corsi.difficolta}}</td>
      </tr>
  </tbody>

</form>
